/* HeroSection.css */
@media (min-width: 767px) {
    .heroSection {
      background-image: url('../public/center1.svg'), url('../public/center2.svg');
      background-repeat: no-repeat, no-repeat;
      background-position: left, right;
    }
  }